In [14]:
import pandas as pd
#count the number of people in each race

df = pd.read_csv('/content/adult.data.csv')
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
import pandas as pd
#Average age of men 

men_age = df[df['sex'] == 'Male']['age']
average_age = men_age.mean()

print("Average Age: " ,average_age)

Average Age:  39.43354749885268

In [4]:
import pandas as pd
#percentage of people who have a bachelors degree 

num_bachelor_degree_ = len(df[df['education']=='Bachelors']) 
total_people = len(df) 
percentage = (num_bachelor_degree_/total_people)*100

print("number of bachelor degree holders : " , num_bachelor_degree_)
print("total people :" , total_people)
print(percentage , "%")

number of bachelor degree holders :  5355
total people : 32561
16.44605509658794 %

In [5]:
import pandas as pd
#percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K

advanced_education = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
high_salary = len(advanced_education[advanced_education['salary'] == '>50K'])
percentage = (high_salary/len(advanced_education))*100
print(high_salary)
print(len(advanced_education))
print("People with advanced education and high salary: " ,percentage ,"%")

3486
7491
People with advanced education and high salary:  46.535843011613935 %

In [6]:
import pandas as pd
#percentage of people without advanced education make more than 50K 

regular_education = total_people - len(advanced_education) 
high_salary_regular = df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate') & (df['salary'] == '>50K')]
percentage = (len(high_salary_regular) / regular_education) * 100


print("People with regular education and high salary:",percentage,"%")

People with regular education and high salary: 17.3713601914639 %

In [9]:
import pandas as pd
#minimum number of hours a person works per week 

minimum_hours = df['hours-per-week']

print(minimum_hours.min())

1

In [10]:
import pandas as pd
#percentage of the people who work the minimum number of hours per week have a salary of more than 50K

minimum_hours_data = df[df['hours-per-week'] == minimum_hours] 
print(len(minimum_hours_data))

total = len(minimum_hours_data)
high_salary3 = minimum_hours_data[minimum_hours_data['salary'] == '>50K']
percentage = (len(high_salary3) / total) * 100
print(percentage , "%")

32561
24.080955744602438 %

In [13]:
import pandas as pd
#What country has the highest percentage of people that earn >50K and what is that percentage

country_percentages = df[df['salary'] == '>50K']['native-country'].value_counts(normalize=True) * 100
print(country_percentages)

United-States         91.455172
?                      1.862007
Philippines            0.777962
Germany                0.561153
India                  0.510139
Canada                 0.497386
Mexico                 0.420865
England                0.382604
Italy                  0.318837
Cuba                   0.318837
Japan                  0.306083
Taiwan                 0.255070
China                  0.255070
Iran                   0.229563
South                  0.204056
Puerto-Rico            0.153042
Poland                 0.153042
France                 0.153042
Jamaica                0.127535
El-Salvador            0.114781
Greece                 0.102028
Cambodia               0.089274
Hong                   0.076521
Yugoslavia             0.076521
Ireland                0.063767
Vietnam                0.063767
Portugal               0.051014
Haiti                  0.051014
Ecuador                0.051014
Thailand               0.038260
Hungary                0.038260
Guatemala              0.038260
Scotland               0.038260
Nicaragua              0.025507
Trinadad&Tobago        0.025507
Laos                   0.025507
Columbia               0.025507
Dominican-Republic     0.025507
Peru                   0.025507
Honduras               0.012753
Name: native-country, dtype: float64

In [12]:
import pandas as pd
#the most popular occupation for those who earn >50K in India.


india_high_earners = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

popular_occupation = india_high_earners['occupation'].value_counts()
print(popular_occupation)
print("Most Popular Occupation among indians : " ,popular_occupation.idxmax())

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64
Most Popular Occupation among indians :  Prof-specialty